{% extends 'PicArt/base.html' %}
{% load static %}


{% block title %}{{title}}{% endblock %}

{% block content %}
<!-- Body -->

<div class="container">
    <main role="main">
        <div class="jumbotron shadow bg-white">
            <h3>PicArt</h3>
            <p>If two values are set; the first one is for the top-left and bottom-right corner, the second one for the top-right and bottom-left corner.</p>
            <p>If two values are set; the first one is for the top-left and bottom-right corner, the second one for the top-right and bottom-left corner.</p>
            <p>If two values are set; the first one is for the top-left and bottom-right corner, the second one for the top-right and bottom-left corner.</p>
            <p>If two values are set; the first one is for the top-left and bottom-right corner, the second one for the top-right and bottom-left corner.</p>
            <p>If two values are set; the first one is for the top-left and bottom-right corner, the second one for the top-right and bottom-left corner.</p>       
        </div>
    </main>
</div>




{% endblock %}